<form [formGroup]="form" (ngSubmit)="save()">
  <div formGroupName="civility">
    <div class="form-group">
      <label for="contact-form-firstname">Prénom</label>
      <input type="text" id="contact-form-firstname" name="firstname"
             formControlName="firstname">
      <p *ngIf="firstname.touched && firstname.errors?.['required']" class="tooltip">
        Vous devez saisir un prénom.
      </p>
    </div>
    <div class="form-group">
      <label for="contact-form-lastname">Nom de famille</label>
      <input type="text" id="contact-form-lastname" name="lastname"
             formControlName="lastname">
      <p *ngIf="lastname.touched && lastname.errors?.['required']" class="tooltip">
        Vous devez saisir un nom de famille.
      </p>
    </div>
  </div>
  <div class="form-group">
    <label for="contact-form-email">Adresse email</label>
    <input type="email" id="contact-form-email" name="email"
           formControlName="email">
    <p *ngIf="getField('email')?.touched && getField('email')?.errors?.['email']" class="tooltip">
      Ça ne ressemble pas à une adresse email.
    </p>
  </div>
  <div class="form-group">
    <div formGroupName="period">
      <label for="contact-form-period-from">Du</label>
      <input type="date" name="from" id="contact-form-period-from" formControlName="from">
      <label for="contact-form-period-to">au</label>
      <input type="date" name="from" id="contact-form-period-to" formControlName="to">
    </div>
    <p *ngIf="getField('period.from')?.touched && getField('period.from')?.errors?.['minDate']" class="tooltip">
      La date de début doit être ultérieur à la date du jour
      ({{getField('period.from')?.errors?.['minDate'].min|date:'shortDate'}}).
    </p>
    <p *ngIf="getField('period')?.touched && getField('period')?.errors?.['period']" class="tooltip">
      La date de début ({{getField('period')?.errors?.['period'].errorCode}})
      doit être antérieure à la date de fin.
    </p>
  </div>
  <div>
    <button [disabled]="form.invalid">Enregistrer</button>
  </div>
</form>
