@import "styles/variables";

html {
  font: 20px "DejaVu Sans", sans-serif;
  color: $default-foreground;
}

body {
  background: $background-light;
  padding: 0;
  margin: 0;
}

// Formulaires
/* commentaire qui est conservé dans le fichier CSS généré */
:not(form, div).ng-invalid.ng-touched {
  background: lighten($danger-color, 35%);
}

.form-group {
  margin-bottom: 1em;
}

.tooltip {
  background: lighten($danger-color, 35%);
  border: 1px solid $danger-color;
  border-radius: .5em;
  padding: .25em;
}
