$background-light: #feb;
$default-foreground: #123;
$danger-color: #F00;
$warning-color: #FB0;
$success-color: #0F0;

html {
  font: 20px "DejaVu Sans", sans-serif;
  color: $default-foreground;
}

body {
  background: $background-light;
  padding: 0;
  margin: 0;
}

// Formulaires
/* commentaire qui est conservé dans le fichier CSS généré */
:not(form).ng-invalid.ng-touched {
  background: lighten($danger-color, 35%);
}

.form-group {
  position: relative;
  margin-bottom: 1em;
}

.tooltip {
  display: none;
  position: absolute;
  background: lighten($danger-color, 35%);
  border: 1px solid $danger-color;
  border-radius: .5em;
  bottom: 1em;
  padding: .25em;
}

.ng-invalid.ng-touched:hover + .tooltip {
  display: block;
}
